
{% extends 'base.html' %}

{% block content %} 

{% include 'includes/header.html' %}  
   
   
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell"> Actualizar Empleado</h1>
        <form class="grid-margin-x grid-x" method="post">{% csrf_token %}
            <div class="medium-6 cell">
                <label> Nombre:
                    {{form.first_name}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label> Apellido:
                    {{form.last_name}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label> Trabajo:
                    {{form.job}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label> Departamento:
                    {{form.departamento}}
                </label>
            </div>
            <div class="large-6 cell ">
                <label> Habilidades:
                    {{form.habilidades}}
                </label>
            </div>
            <div class="large-6 cell ">
                <label> Foto De Perfil:
                    {{form.imagen}}
                </label>
            </div>
            <div class="large-6 cell">
            
            </div>
            
            <button  type="submit" class="button cell large-2 ">Guadar</button>
        </form>
    </div>
   

</div> 
   
{% endblock content %}

   
   
   
   
